<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Наша бригада - Node.js</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <h1>Ласкаво просимо на сторінку нашої бригади</h1>
  <p>Ми – команда з трьох студентів, які займаються розробкою застосунків на платформі Node.js.</p>
  <img id="node" src="/images/Node.jpg" alt="Node.js">
  <h2>Учасники:</h2>
  <ul>
    <li><a href="/student/1">Максим</a></li>
    <li><a href="/student/2">Анастасія</a></li>
    <li><a href="/student/3">Учасник 3</a></li>
  </ul>
</body>

</html>